@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green-1: #3e4827;
    --green-2: #636a51;
    --orange-1: #b94700;
    --orange-2: #bd6439;
    --blue-1: #2f6f7a;
    --blue-2: #5c7e87;
    --teal-1: #00bb7e;
}

body {
  font-family: var(--font-dm-sans), sans-serif;
}

h1, h2, h3 {
    font-family: var(--font-poppins), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}
