@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
    --green-1: #3e4827;
    --green-2: #636a51;
    --orange-1: #b94700;
    --orange-2: #bd6439;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* TODO: FIX FONTS */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
    font-family: DM_Sans, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
